.about {
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__Photograph {
        width: 600px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;

        &__img {
            width: 350px;
            height: 350px;
            border-radius: 50%;
            border: 2px solid black;
        }
    }

    &__me {
        width: 700px;
        height: 400px;
        background-color: blue;
    }
}