@use 'variaveis';
@use 'header';
@use 'about';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1366px;
    background-color: variaveis.$background;
    margin: 0 auto;
}